* {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 2.7vw;
}

.logo-wrapper {
  font-family: DM Serif Display, sans-serif;
  font-size: 3.2vw;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  width: 100%;
}
.nav-wrapper {
  display: flex;
  list-style: none;
  font-family: Jost, sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
}
.search {
  width: 2vw;
  height: 2vw;
}

ul {
  padding: 0;
}

.hero-img {
  width: 1200px;
  height: 45vw;
  position: relative;
  display: block;
  border-radius: 50px;
  max-width: 100%;
  padding: 20px;
  margin: auto;
}
.hero {
  position: relative;
}
.hero-title {
  font-family: DM serif display, sans-serif;
  font-size: 4vw;
  font-weight: 400;
  line-height: 125%;
  color: #292f36;
  word-spacing: 6px;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 14vw;
  left: 18vw;
  height: 20vw;
}

.hero-subtitle {
  font-family: Jost, sans-serif;
  color: #4d5053;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 150%;
}

.get-started-button {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  background-color: #292f36;
  text-align: center;
  padding: 1vw 2vw 1vw 2vw;
  font-family: Jost, sans-serif;
  color: white;
  border-radius: 18px;
  width: 11vw;
}

.arrow {
  width: 15px;
  height: 13px;
  margin-left: 5px;
}

.read-more {
  margin: 50px 100px;
  display: flex;
  color: #292f36;
}

.read-more-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.read-more-title {
  font-family: DM serif display, sans-serif;
  font-size: 2vw;
}

.read-more-paragraph {
  font-family: Jost, sans-serif;
  font-size: 1.5vw;
  font-weight: 200;
  padding: 50px;
}

a {
  text-decoration: none;
  color: #292f36;
  font-family: Jost, sans-serif;
  text-align: center;
}

.read-more-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-2 {
  padding: 50px;
}

.call-icon {
  width: 93px;
  height: 93px;
}

.about-us-image-wrapper {
  display: flex;
}

.img-2 {
  width: 50%;
  margin: 30px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 20%;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.about-us-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  padding: 20px;
}

.about-us-paragraph {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  padding: 20px;
}

.icon-number-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
}

.number {
  color: #4d5053;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 1px;
}

.number-text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.icon-number-text-wrapper {
  margin-left: 10px;
}

.margin {
  margin: 20px;
}

.reviews-title-wrapper {
  background-color: #f4f0ec;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  align-items: center;
  border-radius: 30px;
  padding: 40px;
}

.reviews-wrapper {
  display: flex;
  justify-content: space-around;
}

.review {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.reviews-title {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.review-icon {
  border-radius: 50%;
  width: 100px;
}

.icon-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 21px;
}

h2 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

h3 {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.review-text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  padding: 30px;
}

.h2-h3-wrapper {
  margin-left: 20px;
}

.brands-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.projects-title {
  color: #292f36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}

.projects-subtitle {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}
